* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Globals  */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container-sm {
  max-width: 992px;
}

.container-xs {
  max-width: 786px;
  margin: auto;
}

.text-right {
  text-align: right;
}

.display-desktop {
  display: block;
}

.primary-btn {
  background: linear-gradient(-45deg, #ff6f72 60%, darkred);
  color: #ffffff;
  font-family: poppinsLight;
  padding: 8px 20px;
  border: none;
  font-weight: bold;
  border-radius: 4px;
}

.primary-btn:hover {
  box-shadow: 2px 2px 10px 1px #ff6f72;
}

a {
  text-decoration: none;
}

.img-fluid {
  max-height: 100%;
  transition: 500ms;
  scale: 1;
}

.img-fluid:hover {
  transition: 500ms;
  scale: 1.05;
}

.img-box {
  overflow: hidden;
  transition: 500ms;
}

/* Navbar  */
.navbar {
  transition: 500ms;
  padding: 1.5rem 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
}

.navbar-brand {
  transition: 500ms;
  width: 7.5rem;
}

.nav-link {
  font-family: poppins;
  font-weight: 700;
  color: darkred;
  padding: 8px 20px !important;
  cursor: pointer;
}

.nav-link:hover {
  color: #ff6f72;
}

.navbar-toggler-icon {
  background-image: url(../images/menu-icon.png);
}

.nav-active {
  transition: 500ms;
  backdrop-filter: blur(100px);
  padding: 0.75rem 0;
}

.nav-active .navbar-brand {
  transition: 500ms;
  width: 6rem;
}

.search-field {
  display: flex;
  align-items: center;
}

.search-field input {
  margin-right: 4px;
  padding: 4px 12px;
  border-radius: 12px;
  border: 1px solid darkred;
}

.search-field input::placeholder,
.search-field input:focus {
  color: #ff6f72;
  outline: #ff6f72;
}

/* Navbar Ends */

.artboard-1 {
  height: 100vh;
  background-image: url("../images/hero-bg.png");
  background-position: center center;
  background-size: cover;
  display: flex;
}

.min-m-10 {
  margin-top: min(10rem);
  margin-left: min(2rem);
  margin-right: min(2rem);
  margin-bottom: min(10rem);
}

.hero-img {
  width: 35rem;
}

.hero-bg-2 {
  object-fit: cover;
  min-width: 100vw;
  height: 100vh;
}

.artboard {
  padding: 9rem 0;
}

.best-seller-bg {
  background-image: url("../images/best-seller-bg.png");
  background-position: center center;
  background-size: cover;
}

.sweet-enough-bg {
  background-image: linear-gradient(to bottom, #facdd4 25%, transparent 25%),
    url("../images/best-seller-bg.png");
  background-position: center center;
  background-size: cover;
}

.our-story-p {
  padding: 12rem 0;
}

.meet-the-team {
  padding: 10rem 0 8rem;
}

.meet-the-team-form {
  padding: 6rem 0;
}

.founder-name {
  font-family: poppins;
  font-size: 2.25rem;
  margin-top: 1rem;
  font-weight: bold;
}

.founder-designation {
  font-family: poppinsLight;
  font-size: 2rem;
  line-height: 1rem;
}

.founder-img {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
}

.team-name {
  font-family: poppins;
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
}

.team-designation {
  font-family: poppinsLight;
  font-size: 1.25rem;
  line-height: 1rem;
}

.team-img {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
}

.sub-team-name {
  text-align: center;
  font-family: poppins;
  font-size: 1.125rem;
  margin-top: 1rem;
  font-weight: bold;
}

.sub-team-designation {
  font-family: poppinsLight;
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
}

.sub-team-img {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}

.about-us-img {
  width: 35rem;
}

.footer {
  padding: 5rem 0;
  background-image: url("../images/footer-bg.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.footer-logo {
  width: 15rem;
}

.footer-heading {
  color: #585858;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: poppins;
  margin-bottom: 0.5rem;
}

.footer-text {
  color: #585858;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: poppinsLight;
}

.footer-text:hover {
  color: #000000;
}

.get-in-touch-box {
  background-color: #f7ebed;
  padding: 10rem 3rem 2rem;
}

.get-in-touch-input {
  border: none;
  box-shadow: none;
  background-color: #faf3f5;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  width: 100%;
  height: 3rem;
}

textarea.get-in-touch-input {
  min-height: 12rem !important;
}

.get-in-touch-input:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.get-in-touch-label {
  color: rgba(0, 0, 0, 0.36);
  font-size: 1.5rem;
  font-family: poppins;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.down-arrow {
  height: 0.5rem;
  width: 0.75rem;
}

.quick-support {
  padding: 4rem 3rem;
  background-color: #f9d3d8;
}

.quick-support-heading {
  color: rgba(0, 0, 0, 0.36);
  font-size: 2.25rem;
  font-weight: bold;
  font-family: poppins;
  margin-bottom: 0.5rem;
}

.quick-support-text {
  color: #585858ce;
  font-size: 0.75rem;
  font-family: poppinsLight;
  margin-bottom: 0.5rem;
}

.quick-support-img img{
  margin-bottom: 0.75rem;
  margin-left: 2.75rem;
  width: 2rem;
  height: 3rem;
}
/* Menu Page  */

.no-item-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: none;
}

.no-item-text {
  font-family: poppins;
  font-weight: bold;
  font-size: 2rem;
  color: darkred;
}

.menu-hero {
  background-image: linear-gradient(
    to top,
    #f9d3d8 40%,
    #f7ebed 30%,
    #f7ebed 30%
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-right {
  background-image: linear-gradient(
    to bottom,
    #f9d3d8 20%,
    #f7ebed 20%,
    #f7ebed 60%
  );
  padding: 4rem 0 10rem;
}

.content-left {
  background-image: linear-gradient(
    to top,
    #f9d3d8 40%,
    #f7ebed 30%,
    #f7ebed 30%
  );
  padding: 4rem 0 10rem;
}

.menu-heading {
  color: #ff6f72;
  font-family: montserrat;
  font-weight: 500;
  font-size: 3.5rem;
  letter-spacing: -2px;
}

.menu-price {
  color: #ff6f72;
  font-family: montserrat;
  font-size: 2.75rem;
  letter-spacing: -2px;
}

.menu-description {
  color: #ff6f72;
  font-family: montserrat;
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.menu-filters {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.menu-filter {
  display: flex;
  padding: 1rem 1.5rem;
  flex-direction: column;
  align-items: center;
}

.menu-filter-text {
  color: darkred;
  font-size: 0.625rem;
  font-weight: bold;
}

.menu-filter:hover .menu-filter-text {
  color: #ff6f72;
}

.menu-filter:hover .menu-filter-img svg path {
  fill: #ff6f72;
  stroke: #ff6f72;
}

.menu-filter-img {
  text-align: center;
  margin-bottom: 0.25rem;
  width: 1.75rem;
  height: 1.75rem;
}

.menu-socials {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.menu-social-img {
  width: 1.75rem;
  height: 1.75rem;
}

.filterDiv {
  display: none;
}

.showw {
  display: flex;
}

.product-img {
  text-align: center;
  max-width: 90%;
  overflow: hidden;
}

.product-img img {
  height: 21rem;
  object-fit: cover;
  border-radius: 8px;
}

.product-heading {
  font-size: 6.5rem;
  line-height: 5.5rem;
  max-width: 90%;
}

.product-price {
  color: #a9a9a9;
  font-size: 1.75rem;
  max-width: 90%;
}

.gallery-img {
  overflow: hidden;
}

.gallery-img img {
  object-fit: cover;
  height: 23rem;
  width: 100%;
}

/* Contact Us Page  */

.form-control {
  margin-right: 4px;
  padding: 4px 12px;
  border-radius: 0;
  border: none;
  font-size: 1.5rem;
  font-family: poppinsLight;
}

.form-control:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

input,
textarea {
  color: #6d757d !important;
}

input::placeholder,
textarea::placeholder {
  color: #a9a9a96c !important;
}

textarea {
  min-height: 18rem !important;
}

/* Thanks page  */

.thank-you {
  background: linear-gradient(to bottom right, white, #fce6e9, white);
  padding: 12rem 0;
}

.thanks-img {
  max-width: 20rem;
  padding: 1rem 2rem;
}

/* Fonts  */

@font-face {
  font-family: poppinsLight;
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: AbhayaLibre;
  src: url(../fonts/AbhayaLibre-SemiBold.ttf);
}

@font-face {
  font-family: myriad;
  src: url(../fonts/Myriad\ Pro\ Regular.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(../fonts/MontserratAlternates-Regular.ttf);
}

@font-face {
  font-family: montserratBold;
  src: url(../fonts/MontserratAlternates-SemiBold.ttf);
}

@font-face {
  font-family: allison;
  src: url(../fonts/demo-allison-script.otf);
}

.primary-font {
  font-family: AbhayaLibre;
}

.secondary-font {
  font-family: myriad;
}

.allison {
  font-family: allison;
}

.poppinsLight {
  font-family: poppinsLight;
}

/* Colors  */

.purple {
  color: #7f517d;
}

.pink {
  color: #ffa2b6;
}

.light-pink {
  color: #ff6f72;
}

.dark-pink {
  color: #aa6489;
}

.green {
  color: #968f1a;
}

.light-grey {
  color: #a9a9a9;
}

.grey {
  color: #b2b2b2;
}

.dark-grey {
  color: #a7a7a7;
}

/* Font Size  */

.font-size-240 {
  font-size: 15rem;
  line-height: 14rem;
}

.font-size-192 {
  font-size: 12rem;
  line-height: 10rem;
}

.font-size-160 {
  font-size: 10rem;
  line-height: 10rem;
}

.font-size-134 {
  font-size: 8rem;
  line-height: 6rem;
  letter-spacing: -2px;
}

.font-size-116 {
  font-size: 7rem;
  line-height: 5.5rem;
  letter-spacing: -2px;
}

.font-size-103 {
  font-size: 6.375rem;
  line-height: 5.5rem;
  letter-spacing: -2px;
}

.font-size-97 {
  font-size: 6.25rem;
  line-height: 4.25rem;
  letter-spacing: -2px;
}

.font-size-18 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.font-size-20 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.font-size-24 {
  font-size: 1.625rem;
  line-height: 1.875rem;
}

/* Media Queries  */
@media (max-width: 1400px) {
  .artboard3-img2 {
    bottom: -42rem;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
  .hero-img {
    width: 30rem;
    margin: auto;
    padding-right: 2rem;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .navbar-brand {
    width: 8.5rem;
  }
  .nav-active .navbar-brand {
    width: 7rem;
  }
  .primary-btn {
    font-size: 1.125rem;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  .min-m-10 {
    margin-top: min(20rem);
    margin-left: min(2rem);
    margin-right: min(2rem);
    margin-bottom: min(20rem);
  }
  .primary-btn {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .display-desktop {
    display: none;
  }
  .tab-text-center {
    text-align: center;
  }
  .artboard3-img,
  .artboard3-img2 {
    position: static;
  }

  .product-card {
    position: static;
    max-width: 325px;
    margin: auto;
  }
  .content-right {
    background-image: linear-gradient(
      to top,
      #f9d3d8 40%,
      #f7ebed 30%,
      #f7ebed 30%
    );
  }
  .menu-filters {
    background-color: #f7ebed;
    width: 100%;
    position: fixed;
    top: 11rem;
    left: 0;
    transform: translateY(-50%);
    flex-direction: row;
    justify-content: center;
  }
  .menu-socials {
    position: fixed;
    top: 98%;
    flex-direction: row;
    background-color: #f7ebed;
    height: max-content;
  }
  .product-heading,
  .product-img,
  .product-price {
    max-width: 100%;
  }

  .product-heading {
    font-size: 9.5rem;
    line-height: 10rem;
  }
  .product-img img {
    height: 100%;
  }
  .sweet-enough-bg {
    background-image: linear-gradient(to bottom, #facdd4 35%, transparent 35%),
      url("../images/best-seller-bg.png");
  }
  .gallery-img img {
    height: 15rem;
  }
}
@media (max-width: 425px) {
  html {
    font-size: 8px;
  }
  .min-m-10 {
    margin-top: min(20rem);
    margin-left: min(0rem);
    margin-right: min(0rem);
    margin-bottom: min(20rem);
  }
  .font-size-192 {
    font-size: 11rem;
  }
  .get-in-touch-input {
    height: 4rem;
  }
}
